<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>{% block title %} Arseny blog {% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example">

{% block content %}
    <h2>Статьи</h2>
    <ul>
        {% for News in object_list %}
            <li>{{ News.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}